@font-face {
    font-family: 'CutiveMono-Regular';
    src: url('../assets/CutiveMono-Regular.ttf') format('truetype');
  }
  
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #101010;
}

h1{
    text-align: center;
    font-family: 'CutiveMono-Regular', monospace;
    font-size: 8em;
  }

p{
    text-align: center;
    font-family: 'CutiveMono-Regular', monospace;
    font-size: 0.1em;
    margin-top: 0;
}
  

/* Buttons */
input, button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    box-shadow: inset 0 0 0 2px #616467;
    color: #101010;
    height: 48px;
  }
  
/*img*/
#bg-chat {
    position: fixed; /* Damit das Hintergrundbild fest positioniert wird */
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/*Chatfenster*/ 
#chat-container {
    max-width: 40em;
    margin: 0 auto;
    position: relative; 
}

#user-bubble {
    width: 60vw;
    flex-direction: column-reverse; 
    max-width: 1400px; 
    width: 100%; 
}

.user-message {
    background-color: #9B23E4;
    color: #101010;
    border-radius: 10px;
    padding: 10px;
    margin: 10px; 
    word-wrap: break-word;
    width: 100%; 
}

#bot-bubble {
    display: flex;
    flex-direction: column-reverse; /* Umgekehrte Reihenfolge für die Bubbles */
    max-width: 2000px; /* Maximale Breite auf 600px begrenzen */
    width: 100%; /* Bubbles sollen die volle Breite des Containers einnehmen */
}

.bot-message {
    background-color: #F5F5F5;
    color: #101010;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    word-wrap: break-word;
    width: 100%; /* Bubbles sollen die volle Breite des Containers einnehmen */
}

#send-button { 
    display: inline-block;
    outline: 0;
    font-size: 22px;
    border-radius: 25px;
    margin-left: 5px;
    background-color: #9B23E4;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 48px; /* An die Höhe des Buttons anpassen, um einen runden Button zu erstellen */
    text-transform: uppercase;
    white-space: normal;
    font-weight: 400;
    text-align: center;
    padding: 0; /* Kein horizontaler Padding für einen runden Button */
    color: #101010;
    height: 48px;
    cursor: pointer;  
    }
    

#send-button:hover {
    background-color: #5b1686;
}

#send-button img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

#user-input {
    width: 50vw;
    display: flex;
    position: fixed;
    bottom: 10vw;
    margin: 20 auto; 
    border-radius: 5px;
}

#message-input {
    width: 42vw; 
    padding: 12px 20px;
    margin: 0 auto; 
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 10;
    flex-grow: 1;
    border-radius: 25px;
    border: none;
}


/*login & register fenster*/ 
.container {
    max-width: 40em;
    margin: 0 auto 0;
    position: relative;
    display: flex;
    align-items: center; /* Vertikal zentrieren */
    justify-content: center; /* Horizontal zentrieren */
    height: 100vh; /* 100% der Bildschirmhöhe */
  }
  
  .login {
    font-family: 'CutiveMono-Regular', monospace;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-family: 'CutiveMono-Regular', monospace;
  }
  
  input {
    box-sizing: border-box;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
  }

  
  #anmelden-button,
#register {
    box-sizing: border-box;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  font-size: 16px;
}

#anmelden-button:hover,
#register:hover {
  background-color: #7f1cb3;
}

  
  
